%example{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}/*
@extend %example{}
*/
$Sans:'DM Sans', sans-serif;
$Poppins:'Poppins', sans-serif;
$black:#171718;
$main-color:#00ffea;
$white:#FFF;
$dark-mode:#252526;
$title-1:$main-color;