html,body{
    font-family: $Sans;
    letter-spacing: -0.5px;
    color: $black;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    
}
.none{
    display: none !important;
}