
html,body{
    font-family: $Sans;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    
}
.none{
    display: none !important;
}
@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(54, 60, 239, 0.8);
	}
	70% {
		box-shadow: 0 0 0 30px rgba(64, 70, 238, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(92, 98, 236, 0);
	}
}