@media (max-width:620px){
    .header{
        min-height: unset;
        &__title{
            font-size: 30px;
            & strong{
                font-size: 40px;
            }
        }
    }
    .nav{
        &-row{
            justify-content: space-between;
        }
    }
    .section{
        padding: 40px 0;
    }
    .title-1{
        font-size: 40px;
        margin-bottom:30px;
    }
    .project{
        &__title{
            font-size: 22px;
        }
    }
    .footer{
        padding: 40px 0 30px;
        &__wrapper{
            row-gap: 20px;
        }
    }
    .social{
        &__item{
            width:28px;
        }
        column-gap: 20px;
    }
    .title-2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .content-list{
        row-gap: 20px;
        &__item{
            font-size: 16px;
        }
    }
    .project-details__desc{
        margin-bottom: 20px;
        font-size: 22px;
    }
    .dark-mode-btn{
        order: 0;
    }
}